**/__pycache__
**/.venv
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.project
**/.settings
**/.toolstarget
**/.vs
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/compose*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
#---
**/.env.local
**/.pytest*